:root {
    --color-1: #FFFFFF;
    --color-2: #F0F7FF;
    --color-3: #003C83;
    --color-4: #0075FF;
    --color-5: #00CA5D;
    --color-6: #FF7A00;
    --color-7: #D00000;
    --color-8: #FF0000;
    --color-9: #D0D0D0;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-y: hidden;

    background-color: var(--color-2);
    
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

a, button {
    cursor: pointer;
}